.custom-class-input {
    padding: 10x;
    margin-left: 215px;
    margin-right: 10px;
    margin-bottom: 7px;
    
}

.custom-class-header {
    margin-right: 100px;
}

.custom-class-button-search {
    margin-right: 5px;
}